/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,400;1,700&family=Pattaya&display=swap");

:root {
    padding: 0;
    margin: 0;
    --main-font: Pattaya,sans-serif;
    --main-bgcolor: #f86f6f;
    --main-color: #004f7e;
    --main-text-aling: center;
    --main-text-decoration: none;
    --main-content: '$ ';
    --main-font-size: 1.5rem;
}

/* CSS EN INDEX.HTML */

.body{
    background-color: var(--main-bgcolor);
    color:var(--main-color);
    font-family: var(--main-font);
}

.logo{
    margin-top: 1rem;
}

.menu {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: var(--main-bgcolor);
    font-size: var(--main-font-size);
    text-decoration: var(--main-text-decoration);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.fixed-top {
    position: fixed;
    top: 1;
    right: 0;
    left: 0;
}

a:link, a:visited, a:active {
    text-decoration: var(--main-text-aling);
    color: var(--main-color);
}

.carro {
    display: flex;
}

.encabezado {
    padding-bottom: 1.5rem;
    padding-top: 6.8rem;
    text-align: var(--main-text-aling);
    font-size: 2rem;
    font-weight: bolder;
    width:auto;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: var(--main-text-aling);
}

.busqueda {
    margin-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toastContainer {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1031;
}

.formulario {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    border: solid black;
    text-align: center;
    width: auto;
}

.h1 {
    text-align: var(--main-text-aling);
    font-size: 5rem;
}

.h2{
    text-align: var(--main-text-aling);
    font-size: 3rem;
}

.btn {
    font-size: 1rem;
    font-family: var(--main-font);
    margin-top: 0.3rem;
    border-style: inset;
    border-color: blue;
}

.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: var(--main-font-size);
    color: white;
    text-align: var(--main-text-aling);

}


/* CSS EN MAIN.JS*/

.carritoInner {
    background-color: var(--main-bgcolor);
    font-family: var(--main-font);
    position: fixed;
    padding: 1.5rem;
    top: 50px;
    right: 0;
    max-width: 20rem;
    min-width: 20rem;
    text-align: var(--main-text-aling);
    font-size: var(--main-font-size);
    border: solid;
    color: var(--main-color);

}

.carritoInner.noMostrar {
    display: none;
}

.carritoInner .comprar {
    display: inline-block;
}

.carrito #carrito.abierto {
    background-color: var(--main-bgcolor);
    font-family: var(--main-font);
}

.carritoInner .carrito-item {
    margin-bottom: .5rem;
}

.carritoInner .precioTotal #precioTotal:before {
    content: var(--main-content);
}

.carritoInner .carritoPrecio:before {
    content: var(--main-content);
}

.descripcion {
    font-size: var(--main-font-size);
    text-align: var(--main-text-aling);
}

.h5 {
    font-size: var(--main-font-size);
}

.card-img-top{
    border: solid;
}

.unProducto div .precio:before {
    content: var(--main-content);
}

.grid-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    width: 100%;
}

.grid {
    display: grid;
    grid-column: (minmax(12rem, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 4rem 5rem;
    align-items: center;
    width: 100%;
}

.titulo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: var(--main-text-aling);
    font-size: 2.5rem;
    text-decoration: underline;
}

.finalizarCompra{
    position:relative;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.finalizarCompra .productos_finalizarCompra {
    margin-top: 1rem;
}

.finalizarCompra .productos_finalizarCompra .producto_finalizarCompra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.finalizarCompra .productos_finalizarCompra .producto_finalizarCompra img {
    width: 60px;
}

.finalizarCompra .productos_finalizarCompra .producto_finalizarCompra p:nth-child(2) {
    text-align: var(--main-text-aling);
}

.finalizarCompra .productos_finalizarCompra .producto_finalizarCompra p:last-child:before {
    content: var(--main-content);
}

.finalizarCompra .productos_finalizarCompra .total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.finalizarCompra .productos_finalizarCompra .total p:last-child:before {
    content: var(--main-content);
}

.nombre {
    text-align: var(--main-text-aling);
}
